.picture-section {
	width: 100%;
}

.picture-section__parallax-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	color: #fff;
	text-align: center;
	padding: 0 20px;
}

.picture-section__parallax-content-header {
	font-size: 46px;
	font-weight: 600;
	line-height: 66px;
}

.picture-section__parallax-content-description {
	font-size: 38px;
	font-weight: 300;
	line-height: 59px;
}

@media screen and (max-width: 900px) {
	.picture-section__parallax-content-header {
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 20px;
	}

	.picture-section__parallax-content-description {
		font-size: 28px;
		line-height: 28px;
	}
}