.main-page__header {
	height: 100px;
	background-color: #000;
	width: 100%;
}

.main-page__content {
	max-width: 1200px;
	margin: 0 auto;
}

.main-page__section {
	height: 100vh;
}

.main-page__form {
	width: 600px;
	margin: 0 auto;
}

.main-page__footer {
	height: 200px;
	background-color: #000;
	width: 100%;
}
