.header {
	width: 1200px;
	margin: 0 auto;
	height: 100%;

	padding: 0 15px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	color: #dedede;
	font-size: 18px;
}

.header__logo {
	line-height: 100%;
	font-style: italic;
	user-select: none;
	cursor: pointer;
	font-size: 24px;
}

.header__links {
	display: flex;
	flex-direction: row;
}

.header__link {
	cursor: pointer;
	color: #dedede;
}

.header__link-wrap {
	margin: 0 10px;
}

.header__link-wrap:first-child {
	margin-left: 0;
}

.header__link-wrap:last-child {
	margin-right: 0;
}

.header__link:hover {
	text-decoration: none;
	color: #fff;
}

.header__link:focus {
	text-decoration: none;
	color: #fff;
}

@media screen and (max-width: 1200px) {
	.header {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.header__link-wrap:nth-child(1) {
		display: none;
	}

	.header__link-wrap:nth-child(2) {
		display: none;
	}

	.header__link-wrap:last-child {
		display: block;
	}
}
